@mixin buttonWithHover($primaryButtonColor, $secondaryButtonColor) {
  width: 200px;
  color: $primaryButtonColor;
  background-color: $secondaryButtonColor;
  border: $primaryButtonColor 1px solid;
  border-radius: 0;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 18px;
  line-height: 32px;

  &:hover {
    color: $secondaryButtonColor;
    background-color: $primaryButtonColor;
    border: $secondaryButtonColor 1px solid;
  }
}

@mixin spot($reverse, $isMobile) {
  position: absolute;
  width: 25px;
  height: 25px;

  background-color: $mediumGray;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  @if ($reverse and not $isMobile) {
    left: -10px;
  } @else if(not $reverse and not $isMobile) {
    right: -14px;
  } @else if(not $reverse and $isMobile) {
    left: 20px;
  } @else {
    margin-left: 29px;
  }
}

@mixin buttonEffect1 {
  color: white;
  background: rgb(9, 201, 153);
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  border: white 1px solid;
  // clip-path: circle(10% at 90% 20%);

  clip-path: inset(0% 0% 0% 90%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    clip-path: inset(0% 0% 0% 0%);
    background: #00b6ff;
  }
}
