$primaryColor: #ff4040;
$backgroundColor: #011625;
$white: #ffff;
$purple: #5b258d;
$cyan: #0bb8e0;
$lightGray: #f6f6f6;
$mediumGray: #ededed;
$yellowQuiz: #f5b44e;
$lightNavyBlue: #27597d;
$descriptionBox: #f7f7f7;
