@import "variables";
@import "mixin";

@font-face {
  font-family: "Avenir Next LT Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"),
    url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Bold"),
    url("/assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"),
    url("/assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Heavy"),
    url("/assets/fonts/AvenirNextLTPro-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Ultra Light"),
    url("/assets/fonts/AvenirNextLTPro-UltLt.woff") format("woff");
}

body {
  font-family: "Avenir Next LT Pro Regular";
  overflow-x: hidden;
}

h1 {
  font-family: "Avenir Next LT Pro Bold";
}

h2 {
  font-family: "Avenir Next LT Pro Bold";
}

h3 {
  font-family: "Avenir Next LT Pro Demi";
}

h4 {
  font-family: "Avenir Next LT Pro Demi";
}

.section-title {
  color: $backgroundColor;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.header {
  padding: 14px 14px 60px 14px;
  background: $backgroundColor;

  .academy-logo {
    width: 182px;
    height: 49.24px;
  }

  .powered-by-img {
    width: 182px;
    height: 20px;
  }

  .above-the-fold {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 83px 0 0 0;

    .content {
      .title-header {
        color: $primaryColor;
        font-size: 67px;
        line-height: 64px;
        letter-spacing: -0.05em;
      }

      .paragraph {
        font-size: 21px;
        line-height: 31px;
        margin-bottom: 51px;
      }

      .header-button {
        @include buttonWithHover($white, $primaryColor);
        font-weight: 600;
        height: 40px;
        border-color: $backgroundColor;
      }
    }
  }
}

.main-info {
  font-family: "Avenir Next LT Pro Regular";
  font-size: 18px;
  line-height: 32px;
  .highlight {
    font-weight: 800;
  }
  .row {
    margin: 0;
    .col-info-container {
      margin: 26px 0 0 0;
      padding: 0 24px;
      font-size: 16px;
      line-height: 26px;
    }

    .col-img-container {
      .img-trainees {
        background-image: url("../images/trainees.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 252px;
      }
    }

    .col-partnership {
      padding-left: 0;
    }
  }

  .action-list {
    padding-inline-start: 16px;
    margin: 32px 0;
  }

  .partnership-kodigo {
    margin-top: 34px;
  }
}

//**********************************************timeline css************************************************
.make-it-happen {
  margin-top: 70px;
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 70px auto;

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      background-color: #c4c4c4;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-top: 15px;
      height: 75%;
    }

    /* Container around content */
    .time-line-container {
      padding: 10px 40px;
      position: relative;
      width: 50%;
      /* The circles on the timeline */
      .spot {
        @include spot(false, false);
      }
      .spot-reverse {
        @include spot(true, false);
      }

      .content {
        color: white;
        background-color: $primaryColor;
        width: 420px;
        height: 200px;
        .title {
          padding: 5px 10px;
        }
        .description {
          color: #000000;
          font-family: "Avenir Next LT Pro Regular";
          padding: 35px 15px;
          background-color: $descriptionBox;
          font-size: 18px;
          line-height: 32px;
          height: 100%;
        }

        &:nth-child(even) {
          margin-left: 99px;
        }

        &:nth-child(odd) {
          margin-left: 3px;
        }
      }
    }
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 992px) {
    /* Place the timelime to the left */

    .timeline {
      margin-top: 33px;
      margin-bottom: 125px;
      &::after {
        left: 31px;
        width: 1px;
        height: 80%;
      }

      /* Full-width containers */
      .time-line-container {
        width: 100%;
        height: 100%;
        padding-left: 70px;
        padding-right: 25px;
        margin-top: 64px;

        .spot {
          @include spot(false, true);
        }
        .spot-reverse {
          @include spot(true, true);
        }

        &:first-child {
          margin-top: 0;
        }

        .content {
          margin-bottom: 28px;
          width: 75vw;
          .description {
            font-size: 16px;
            padding: 10px;
          }
          //TODO get back here later
          .child-1 {
            height: 200px;
          }
          .child-2 {
            height: 200px;
          }
          .child-3 {
            height: 200px;
          }
          .child-4 {
            height: 200px;
          }

          &:nth-child(even) {
            margin-left: 0px;
          }

          &:nth-child(odd) {
            margin-left: 0px;
          }
        }
      }
    }

    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
}

//***************************************end of timeline************************************

.sponsors-container {
  background-color: $backgroundColor;
  color: $primaryColor;
  margin-top: 68px;

  padding: 43px 86px 70px 86px;

  .sponsors-brands {
    .col {
      padding: 0;
    }
    .sponsors-title {
      font-size: 32px;
    }
    .brand {
      margin: 45px 0;
    }
  }
}

.former-trainees-container {
  padding-top: 44px;

  .trainee-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .photo {
      margin-top: 19px;
      width: 231px;
      height: 231px;
    }

    .information {
      font-family: "Avenir Next LT Pro Regular";
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 26px 24px;
      .testimony {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 8px;
      }
      .name {
        color: $backgroundColor;
        align-self: flex-end;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .carousel-indicators {
    bottom: -26px;
    li {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      // background-color: $mediumGray;
      background-color: #dbdbdb;
      margin: 0 8px;
    }
    .active {
      background-color: $primaryColor;
    }
  }
}

.working-brands-container {
  background-color: $backgroundColor;
  color: $white;
  margin-top: 68px;
  padding: 50px 34px 34px 34px;

  .title {
    color: $primaryColor;

    h3 {
      text-align: center;
      font-size: 32px;
      line-height: 56px;
    }
    h2 {
      text-align: center;
      font-size: 50px;
    }
  }

  .brand-container {
    .brand {
      margin: 45px 0;
      padding: 0;
    }
  }
}

.what-you-can-do-container {
  margin-top: 100px;
  .brand {
    margin: 45px 0;
  }
  .row {
    margin: 0;
    .action-img {
      margin: 45px 0 36px 0;
    }
  }

  .action-sub-section {
    margin-top: 80px;

    &:first-child {
      margin-top: 0;
    }
    .description {
      font-family: "Avenir Next LT Pro Regular";
      font-size: 18px;
      line-height: 32px;
      margin: 0 32px;
      .action-title {
        color: $backgroundColor;
        font-family: "Avenir Next LT Pro Bold";
        font-size: 22px;
        line-height: 26px;
        align-self: flex-start;
      }

      .primary-button {
        @include buttonWithHover($white, $primaryColor);
      }

      .secondary-button {
        @include buttonWithHover($primaryColor, $white);
      }
    }
  }
}

.footer-container {
  background-color: $backgroundColor;
  font-family: "Avenir Next LT Pro Regular";
  color: $white;
  height: 156px;
  margin-top: 42px;

  .powered-by-container {
    padding-top: 29px;

    .powered-by-text {
      font-size: 18px;
      line-height: 32px;
    }
    .footer-logo {
      width: 200px;
      margin-bottom: 7px;
    }
  }

  .social-media-container {
    padding-top: 29px;
    .social-media {
      margin-left: 24px;
    }
  }

  .test-button-container {
    background-color: $primaryColor;

    .button {
      @include buttonEffect1;
    }
  }
}

@media (min-width: 992px) {
  .section-title {
    font-size: 50px;
    line-height: 56px;
  }

  .header {
    padding: 32px 32px 100px 32px;
    .academy-logo {
      width: 228.74px;
      height: 54.81px;
      margin-left: -14px;
    }

    .powered-by-img {
      width: 200px;
      height: 27px;
    }

    .above-the-fold {
      margin: 96px 0 0 0;
      .content {
        .title-header {
          font-size: 75px; //REVISA ESTO CON POTS
          line-height: 96px;
          letter-spacing: -0.05em;
        }

        .paragraph {
          font-size: 32px;
          line-height: 40px;
          margin-bottom: 90px;
        }
      }

      .img-header {
        width: 600px;
        height: 380px;
        margin-left: 56px;
      }
    }
  }

  .main-info {
    margin: 100px 200px 90px 200px;

    .row {
      .col-info-container {
        margin-top: 0;
        padding: 0 32px 0 0;
        font-size: 18px;
        line-height: 32px;
      }
      .col-img-container {
        .img-trainees {
          background-image: url("../images/trainees.png");
          height: 100%;
        }
      }
    }

    .img-trainees {
      height: 100%;
    }
  }

  .sponsors-container {
    height: 348px;
    padding: 0;
    .sponsors-brands {
      height: 100%;
      padding: 0 200px;
      .sponsors-title {
        font-size: 50px;
      }
    }
  }

  .former-trainees-container {
    .trainee-container {
      padding: 0 231px 0 227px;

      .photo {
        width: 320px;
        height: 320px;
      }
      .information {
        margin: 0 0 0 60px;

        .testimony {
          font-size: 18px;
          line-height: 32px;
        }
        .name {
          font-size: 22px;
          line-height: 26px;
        }
      }
      .reverse {
        margin: 0 20px 0 0;
      }
    }
  }

  .working-brands-container {
    height: 380px;
    padding: 84px 192px 84px 210px;
    // .brand-container {
    //   .brand {
    //   }
    // }
  }

  .what-you-can-do-container {
    padding: 0 200px;
    .action-sub-section {
      flex-wrap: nowrap;
      .description {
        padding-left: 29px;
      }
    }
  }

  .footer-container {
    padding: 0 201px 0 196px;
    .powered-by-container {
      padding: 0;
    }

    .social-media-container {
      .follow-us-container {
        margin: 3px 31px 0 0;
      }
    }

    .test-button-container {
      background-color: $primaryColor;

      .button {
        @include buttonEffect1;
      }
    }
  }
}
