@import "variables";

@font-face {
  font-family: "Avenir Next LT Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"),
    url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}

body {
  font-family: "Avenir Next LT Pro Regular";
}

.header {
  padding: 32px;
  background: $backgroundColor;

  .academy-logo {
    width: 228.74px;
    height: 54.81px;
  }

  .powered-by-img {
    width: 239px;
    height: 27px;
  }

  .content {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 96px 12px 0 12px;

    .title-header {
      color: $primaryColor;
      font-size: 70px;
      line-height: 104px;
      letter-spacing: -0.05em;
    }

    .paragraph {
      font-size: 25px;
      line-height: 40px;
      margin-bottom: 90px;
    }

    .header-button {
      background-color: $primaryColor;
      border-color: $primaryColor;
      width: 150px;
      height: 40px;
    }

    .img-header {
      width: 517.31px;
      height: 320px;
      margin-left: 96px;
    }
  }
}

.main-info {
  .highlight {
    font-weight: 800;
  }
  .row {
    margin: 0;
    .col-info-container {
      margin: 26px 0 0 0;
    }

    .col-img-container {
      padding: 0;
    }

    .col-partnership {
      padding-left: 0;
    }
  }

  .action-list {
    padding-inline-start: 16px;
    margin: 32px 0;
  }

  .partnership-kodigo {
    margin-top: 34px;
  }
}
