@import "variables";

@font-face {
  font-family: "Avenir Next LT Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"),
    url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Bold"),
    url("/assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"),
    url("/assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Heavy"),
    url("/assets/fonts/AvenirNextLTPro-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Ultra Light"),
    url("/assets/fonts/AvenirNextLTPro-UltLt.woff") format("woff");
}

body {
  font-family: "Avenir Next LT Pro Regular";
}

.header {
  padding: 32px;
  background: $backgroundColor;

  .academy-logo {
    width: 228.74px;
    height: 54.81px;
  }

  .powered-by-img {
    width: 200px;
    height: 27px;
    margin-left: 14px;
  }

  .content {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 96px 12px 0 12px;

    .title-header {
      color: $primaryColor;
      font-family: "Avenir Next LT Pro Bold";
      font-size: 70px;
      line-height: 104px;
      letter-spacing: -0.05em;
    }

    .paragraph {
      font-size: 25px;
      line-height: 40px;
      margin-bottom: 90px;
    }

    .header-button {
      background-color: $primaryColor;
      border-color: $primaryColor;
      width: 150px;
      height: 40px;
    }

    .img-header {
      width: 517.31px;
      height: 320px;
      margin-left: 96px;
    }
  }
}

.main-info {
  .highlight {
    font-weight: 800;
  }
  .row {
    margin: 0;
    .col-info-container {
      margin: 26px 0 0 0;
    }

    .col-img-container {
      padding: 0;
    }

    .col-partnership {
      padding-left: 0;
    }
  }

  .action-list {
    padding-inline-start: 16px;
    margin: 32px 0;
  }

  .partnership-kodigo {
    margin-top: 34px;
  }
}

.sponsors-container {
  background-color: $backgroundColor;
  color: $white;
  margin-top: 68px;
  padding: 146px 76px;

  .sponsors-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }

  .brand {
    margin: 45px 0;
  }
}

@media (min-width: 992px) {
  .main-info {
    margin: 80px 200px;
  }

  .sponsors-container {
    color: $primaryColor;
    padding: 146px;
    font-family: "Avenir Next LT Pro Heavy";
  }
}
