@font-face {
  font-family: "Avenir Next LT Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next LT Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Bold"), url("/assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next LT Pro Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"), url("/assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next LT Pro Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Heavy"), url("/assets/fonts/AvenirNextLTPro-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next LT Pro Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Ultra Light"), url("/assets/fonts/AvenirNextLTPro-UltLt.woff") format("woff");
}
body {
  font-family: "Avenir Next LT Pro Regular";
}

.section-title {
  color: #011625;
  font-family: "Avenir Next LT Pro Bold";
}

.header {
  padding: 32px;
  background: #011625;
}
.header .academy-logo {
  width: 228.74px;
  height: 54.81px;
}
.header .powered-by-img {
  width: 200px;
  height: 27px;
  margin-left: 14px;
}
.header .content {
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px 12px 0 12px;
}
.header .content .title-header {
  color: #ff4040;
  font-family: "Avenir Next LT Pro Bold";
  font-size: 70px;
  line-height: 104px;
  letter-spacing: -0.05em;
}
.header .content .paragraph {
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 90px;
}
.header .content .header-button {
  background-color: #ff4040;
  border-color: #ff4040;
  width: 150px;
  height: 40px;
}
.header .content .img-header {
  width: 517.31px;
  height: 380px;
  margin-left: 56px;
}

.main-info .highlight {
  font-weight: 800;
}
.main-info .row {
  margin: 0;
}
.main-info .row .col-info-container {
  margin: 26px 0 0 0;
}
.main-info .row .col-img-container {
  padding: 0;
}
.main-info .row .col-partnership {
  padding-left: 0;
}
.main-info .action-list {
  padding-inline-start: 16px;
  margin: 32px 0;
}
.main-info .partnership-kodigo {
  margin-top: 34px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: blueviolet;
  /* Container around content */
  /* The actual content */
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #c4c4c4;
  top: 0;
  bottom: 0;
  left: 50%;
}
.timeline .time-line-container {
  padding: 10px 40px;
  position: relative;
  background-color: #ff4040;
  width: 50%;
  /* The circles on the timeline */
}
.timeline .time-line-container .spot {
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  right: -17px;
}
.timeline .time-line-container .spot-reverse {
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  left: -8px;
}
.timeline .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .time-line-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .time-line-container .spot {
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    left: 20px;
  }
  .time-line-container .spot-reverse {
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-left: 29px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
.sponsors-container {
  background-color: #011625;
  color: #ff4040;
  font-family: "Avenir Next LT Pro Bold";
  margin-top: 68px;
  padding: 146px 146px;
}
.sponsors-container .sponsors-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.sponsors-container .brand {
  margin: 45px 0;
}

.working-brands-container {
  background-color: #011625;
  color: #ffff;
  margin-top: 68px;
  padding: 146px 76px;
}
.working-brands-container .title {
  color: #ff4040;
  font-weight: 600;
  line-height: 40px;
  font-family: "Avenir Next LT Pro Bold";
}
.working-brands-container .brand {
  margin: 45px 0;
}
.working-brands-container .brand-gutter {
  padding: 0px;
}

.what-you-can-do-container {
  margin-top: 100px;
}
.what-you-can-do-container .brand {
  margin: 45px 0;
}
.what-you-can-do-container .row {
  margin: 0;
}
.what-you-can-do-container .row .action-img {
  margin: 45px 0 36px 0;
}
.what-you-can-do-container .action-sub-section {
  margin-top: 80px;
}
.what-you-can-do-container .action-sub-section:first-child {
  margin-top: 0;
}
.what-you-can-do-container .action-sub-section .description {
  margin: 0 32px;
}
.what-you-can-do-container .action-sub-section .description .action-title {
  color: #011625;
  font-family: "Avenir Next LT Pro Bold";
  font-size: 22px;
  line-height: 26px;
  align-self: flex-start;
}
.what-you-can-do-container .action-sub-section .description .primary-button {
  width: 200px;
  color: #ffff;
  background-color: #ff4040;
  border: #ffff 1px solid;
}
.what-you-can-do-container .action-sub-section .description .primary-button:hover {
  color: #ff4040;
  background-color: #ffff;
  border: #ff4040 1px solid;
}
.what-you-can-do-container .action-sub-section .description .secondary-button {
  width: 200px;
  color: #ff4040;
  background-color: #ffff;
  border: #ff4040 1px solid;
}
.what-you-can-do-container .action-sub-section .description .secondary-button:hover {
  color: #ffff;
  background-color: #ff4040;
  border: #ffff 1px solid;
}

.footer-container {
  background-color: #011625;
  color: #ffff;
  height: 250px;
  margin-top: 42px;
}
.footer-container .powered-by-container {
  padding-top: 46px;
}
.footer-container .powered-by-container .powered-by-text {
  font-size: 18px;
  line-height: 32px;
}
.footer-container .powered-by-container .footer-logo {
  width: 200px;
  margin-bottom: 7px;
}
.footer-container .social-media-container {
  margin-top: 36px;
}
.footer-container .social-media-container .social-media {
  margin-left: 24px;
}
.footer-container .test-button-container {
  background-color: #ff4040;
}
.footer-container .test-button-container .button {
  color: white;
  background: #09c999;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  border: white 1px solid;
  clip-path: inset(0% 0% 0% 90%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.footer-container .test-button-container .button:hover {
  clip-path: inset(0% 0% 0% 0%);
  background: #00b6ff;
}

@media (min-width: 992px) {
  .main-info {
    margin: 80px 200px;
  }

  .sponsors-container {
    padding: 146px;
  }
}

/*# sourceMappingURL=index.css.map */
