@font-face {
  font-family: "Avenir Next LT Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next LT Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Bold"), url("/assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next LT Pro Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"), url("/assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next LT Pro Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Heavy"), url("/assets/fonts/AvenirNextLTPro-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next LT Pro Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Ultra Light"), url("/assets/fonts/AvenirNextLTPro-UltLt.woff") format("woff");
}
body {
  font-family: "Avenir Next LT Pro Regular";
  overflow-x: hidden;
}

h1 {
  font-family: "Avenir Next LT Pro Bold";
}

h2 {
  font-family: "Avenir Next LT Pro Bold";
}

h3 {
  font-family: "Avenir Next LT Pro Demi";
}

h4 {
  font-family: "Avenir Next LT Pro Demi";
}

.section-title {
  color: #011625;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.header {
  padding: 14px 14px 60px 14px;
  background: #011625;
}
.header .academy-logo {
  width: 182px;
  height: 49.24px;
}
.header .powered-by-img {
  width: 182px;
  height: 20px;
}
.header .above-the-fold {
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 83px 0 0 0;
}
.header .above-the-fold .content .title-header {
  color: #ff4040;
  font-size: 67px;
  line-height: 64px;
  letter-spacing: -0.05em;
}
.header .above-the-fold .content .paragraph {
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 51px;
}
.header .above-the-fold .content .header-button {
  width: 200px;
  color: #ffff;
  background-color: #ff4040;
  border: #ffff 1px solid;
  border-radius: 0;
  font-weight: 600;
  height: 40px;
  border-color: #011625;
}
.header .above-the-fold .content .header-button:hover {
  color: #ff4040;
  background-color: #ffff;
  border: #ff4040 1px solid;
}

.main-info {
  font-family: "Avenir Next LT Pro Regular";
  font-size: 18px;
  line-height: 32px;
}
.main-info .highlight {
  font-weight: 800;
}
.main-info .row {
  margin: 0;
}
.main-info .row .col-info-container {
  margin: 26px 0 0 0;
  padding: 0 24px;
  font-size: 16px;
  line-height: 26px;
}
.main-info .row .col-img-container .img-trainees {
  background-image: url("../images/trainees.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 252px;
}
.main-info .row .col-partnership {
  padding-left: 0;
}
.main-info .action-list {
  padding-inline-start: 16px;
  margin: 32px 0;
}
.main-info .partnership-kodigo {
  margin-top: 34px;
}

.make-it-happen {
  margin-top: 70px;
  /* The actual timeline (the vertical ruler) */
  /* Place the container to the left */
  /* Place the container to the right */
  /* Media queries - Responsive timeline on screens less than 600px wide */
}
.make-it-happen .timeline {
  position: relative;
  max-width: 1200px;
  margin: 70px auto;
  /* Container around content */
}
.make-it-happen .timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #c4c4c4;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-top: 15px;
  height: 75%;
}
.make-it-happen .timeline .time-line-container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
  /* The circles on the timeline */
}
.make-it-happen .timeline .time-line-container .spot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ededed;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  right: -14px;
}
.make-it-happen .timeline .time-line-container .spot-reverse {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ededed;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  left: -10px;
}
.make-it-happen .timeline .time-line-container .content {
  color: white;
  background-color: #ff4040;
  width: 420px;
  height: 200px;
}
.make-it-happen .timeline .time-line-container .content .title {
  padding: 5px 10px;
}
.make-it-happen .timeline .time-line-container .content .description {
  color: #000000;
  font-family: "Avenir Next LT Pro Regular";
  padding: 35px 15px;
  background-color: #f7f7f7;
  font-size: 18px;
  line-height: 32px;
  height: 100%;
}
.make-it-happen .timeline .time-line-container .content:nth-child(even) {
  margin-left: 99px;
}
.make-it-happen .timeline .time-line-container .content:nth-child(odd) {
  margin-left: 3px;
}
.make-it-happen .left {
  left: 0;
}
.make-it-happen .right {
  left: 50%;
}
@media screen and (max-width: 992px) {
  .make-it-happen {
    /* Place the timelime to the left */
    /* Make all right containers behave like the left ones */
  }
  .make-it-happen .timeline {
    margin-top: 33px;
    margin-bottom: 125px;
    /* Full-width containers */
  }
  .make-it-happen .timeline::after {
    left: 31px;
    width: 1px;
    height: 80%;
  }
  .make-it-happen .timeline .time-line-container {
    width: 100%;
    height: 100%;
    padding-left: 70px;
    padding-right: 25px;
    margin-top: 64px;
  }
  .make-it-happen .timeline .time-line-container .spot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ededed;
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    left: 20px;
  }
  .make-it-happen .timeline .time-line-container .spot-reverse {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ededed;
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-left: 29px;
  }
  .make-it-happen .timeline .time-line-container:first-child {
    margin-top: 0;
  }
  .make-it-happen .timeline .time-line-container .content {
    margin-bottom: 28px;
    width: 75vw;
  }
  .make-it-happen .timeline .time-line-container .content .description {
    font-size: 16px;
    padding: 10px;
  }
  .make-it-happen .timeline .time-line-container .content .child-1 {
    height: 200px;
  }
  .make-it-happen .timeline .time-line-container .content .child-2 {
    height: 200px;
  }
  .make-it-happen .timeline .time-line-container .content .child-3 {
    height: 200px;
  }
  .make-it-happen .timeline .time-line-container .content .child-4 {
    height: 200px;
  }
  .make-it-happen .timeline .time-line-container .content:nth-child(even) {
    margin-left: 0px;
  }
  .make-it-happen .timeline .time-line-container .content:nth-child(odd) {
    margin-left: 0px;
  }
  .make-it-happen .right {
    left: 0%;
  }
}

.sponsors-container {
  background-color: #011625;
  color: #ff4040;
  margin-top: 68px;
  padding: 43px 86px 70px 86px;
}
.sponsors-container .sponsors-brands .col {
  padding: 0;
}
.sponsors-container .sponsors-brands .sponsors-title {
  font-size: 32px;
}
.sponsors-container .sponsors-brands .brand {
  margin: 45px 0;
}

.former-trainees-container {
  padding-top: 44px;
}
.former-trainees-container .trainee-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.former-trainees-container .trainee-container .photo {
  margin-top: 19px;
  width: 231px;
  height: 231px;
}
.former-trainees-container .trainee-container .information {
  font-family: "Avenir Next LT Pro Regular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 26px 24px;
}
.former-trainees-container .trainee-container .information .testimony {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 8px;
}
.former-trainees-container .trainee-container .information .name {
  color: #011625;
  align-self: flex-end;
  font-size: 18px;
  line-height: 22px;
}
.former-trainees-container .carousel-indicators {
  bottom: -26px;
}
.former-trainees-container .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dbdbdb;
  margin: 0 8px;
}
.former-trainees-container .carousel-indicators .active {
  background-color: #ff4040;
}

.working-brands-container {
  background-color: #011625;
  color: #ffff;
  margin-top: 68px;
  padding: 50px 34px 34px 34px;
}
.working-brands-container .title {
  color: #ff4040;
}
.working-brands-container .title h3 {
  text-align: center;
  font-size: 32px;
  line-height: 56px;
}
.working-brands-container .title h2 {
  text-align: center;
  font-size: 50px;
}
.working-brands-container .brand-container .brand {
  margin: 45px 0;
  padding: 0;
}

.what-you-can-do-container {
  margin-top: 100px;
}
.what-you-can-do-container .brand {
  margin: 45px 0;
}
.what-you-can-do-container .row {
  margin: 0;
}
.what-you-can-do-container .row .action-img {
  margin: 45px 0 36px 0;
}
.what-you-can-do-container .action-sub-section {
  margin-top: 80px;
}
.what-you-can-do-container .action-sub-section:first-child {
  margin-top: 0;
}
.what-you-can-do-container .action-sub-section .description {
  font-family: "Avenir Next LT Pro Regular";
  font-size: 18px;
  line-height: 32px;
  margin: 0 32px;
}
.what-you-can-do-container .action-sub-section .description .action-title {
  color: #011625;
  font-family: "Avenir Next LT Pro Bold";
  font-size: 22px;
  line-height: 26px;
  align-self: flex-start;
}
.what-you-can-do-container .action-sub-section .description .primary-button {
  width: 200px;
  color: #ffff;
  background-color: #ff4040;
  border: #ffff 1px solid;
  border-radius: 0;
}
.what-you-can-do-container .action-sub-section .description .primary-button:hover {
  color: #ff4040;
  background-color: #ffff;
  border: #ff4040 1px solid;
}
.what-you-can-do-container .action-sub-section .description .secondary-button {
  width: 200px;
  color: #ff4040;
  background-color: #ffff;
  border: #ff4040 1px solid;
  border-radius: 0;
}
.what-you-can-do-container .action-sub-section .description .secondary-button:hover {
  color: #ffff;
  background-color: #ff4040;
  border: #ffff 1px solid;
}

.footer-container {
  background-color: #011625;
  font-family: "Avenir Next LT Pro Regular";
  color: #ffff;
  height: 156px;
  margin-top: 42px;
}
.footer-container .powered-by-container {
  padding-top: 29px;
}
.footer-container .powered-by-container .powered-by-text {
  font-size: 18px;
  line-height: 32px;
}
.footer-container .powered-by-container .footer-logo {
  width: 200px;
  margin-bottom: 7px;
}
.footer-container .social-media-container {
  padding-top: 29px;
}
.footer-container .social-media-container .social-media {
  margin-left: 24px;
}
.footer-container .test-button-container {
  background-color: #ff4040;
}
.footer-container .test-button-container .button {
  color: white;
  background: #09c999;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  border: white 1px solid;
  clip-path: inset(0% 0% 0% 90%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.footer-container .test-button-container .button:hover {
  clip-path: inset(0% 0% 0% 0%);
  background: #00b6ff;
}

@media (min-width: 992px) {
  .section-title {
    font-size: 50px;
    line-height: 56px;
  }

  .header {
    padding: 32px 32px 100px 32px;
  }
  .header .academy-logo {
    width: 228.74px;
    height: 54.81px;
    margin-left: -14px;
  }
  .header .powered-by-img {
    width: 200px;
    height: 27px;
  }
  .header .above-the-fold {
    margin: 96px 0 0 0;
  }
  .header .above-the-fold .content .title-header {
    font-size: 75px;
    line-height: 96px;
    letter-spacing: -0.05em;
  }
  .header .above-the-fold .content .paragraph {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 90px;
  }
  .header .above-the-fold .img-header {
    width: 600px;
    height: 380px;
    margin-left: 56px;
  }

  .main-info {
    margin: 100px 200px 90px 200px;
  }
  .main-info .row .col-info-container {
    margin-top: 0;
    padding: 0 32px 0 0;
    font-size: 18px;
    line-height: 32px;
  }
  .main-info .row .col-img-container .img-trainees {
    background-image: url("../images/trainees.png");
    height: 100%;
  }
  .main-info .img-trainees {
    height: 100%;
  }

  .sponsors-container {
    height: 348px;
    padding: 0;
  }
  .sponsors-container .sponsors-brands {
    height: 100%;
    padding: 0 200px;
  }
  .sponsors-container .sponsors-brands .sponsors-title {
    font-size: 50px;
  }

  .former-trainees-container .trainee-container {
    padding: 0 231px 0 227px;
  }
  .former-trainees-container .trainee-container .photo {
    width: 320px;
    height: 320px;
  }
  .former-trainees-container .trainee-container .information {
    margin: 0 0 0 60px;
  }
  .former-trainees-container .trainee-container .information .testimony {
    font-size: 18px;
    line-height: 32px;
  }
  .former-trainees-container .trainee-container .information .name {
    font-size: 22px;
    line-height: 26px;
  }
  .former-trainees-container .trainee-container .reverse {
    margin: 0 20px 0 0;
  }

  .what-you-can-do-container {
    padding: 0 200px;
  }
  .what-you-can-do-container .action-sub-section {
    flex-wrap: nowrap;
  }

  .footer-container .powered-by-container {
    padding: 0;
    margin-right: 441px;
  }
  .footer-container .social-media-container .follow-us-container {
    margin: 3px 31px 0 0;
  }
  .footer-container .test-button-container {
    background-color: #ff4040;
  }
  .footer-container .test-button-container .button {
    color: white;
    background: #09c999;
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    border: white 1px solid;
    clip-path: inset(0% 0% 0% 90%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .footer-container .test-button-container .button:hover {
    clip-path: inset(0% 0% 0% 0%);
    background: #00b6ff;
  }
}

/*# sourceMappingURL=index.css.map */
